body{
	background-color: #ecf0f1
}

.navbar-default{
	height: 185px;
	margin-bottom: 15px;
	background-color: #29b742;
	border-color: #34495e;
	margin-bottom: 0px;
	width: 100%;

}


.navbar-header{
	padding-top: 20px;
	z-index: 2
}

.navbar-brand img{
	width: 138px;
	height: 123px;
	margin-top: -24px;
}

.navbar-brand{
	margin-top: 15px;
	font-size: 35px;
	height: 148px;
	z-index: 2;
}

.navbar-default .navbar-brand{  /* left brand color */
	color: #e74c3c;
}

.navbar-default .navbar-brand:hover{
	color: #c0392b;
}

.navbar-right{
	margin-top: 15px;
	font-size: 17px;
	font-weight: 100;
}

.navbar-default .navbar-nav>li>a{   /* Right menu color */
	color: whitesmoke;
	background-color: #34495e;
	z-index: 2
}

.navbar-default .navbar-nav>li>a:hover{
	color: #95a5a6;
	border-top: 1px solid whitesmoke;
	background-color: #34495e;
}

.navbar-default .navbar-toggle {  /* ================== Toggle Styling  */
	margin-top: 22px;
}

.navbar-default .navbar-nav>.active>a,          /* Active Link Styling */     
 .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus{
 	background-color: #34495e;
 	border-bottom: 3px solid #e67e22;
 	color: whitesmoke;
 }
.color{
	background-color: #34495e
}

/* ============================================================= Drop Button */
.navbar-default .navbar-toggle .icon-bar {
	background-color: #34495E;
}
.navbar-default .navbar-toggle {
	border-color: #E67E22;
	background-color: rgb(230, 126, 34);
}


/*=============================================================== End Nav */

 .color{
	background-color: #34495e
}

h1{
	margin-top: 150px;
	text-align: center;
	color: rgb(92, 92, 92);
	font-size: 65px;
}

h2{
 text-align: center;
 color: grey;
}

hr{
	margin-top: 50px;
	margin-bottom: 50px;
}

/* ========================================================= Main Section Styling */

.col-md-6 img{
	max-width: 100%;
}

.btn{
	margin-bottom: 15px;
	background-color: rgb(52, 73, 94);
	display: block;
	margin-right: auto;
	margin-left: auto;
  	margin-top: 10px;
}


.btn a:hover, .btn:hover{
	background-color: #2ecc71;
	text-decoration: none;
	color: white;
}

a{
	color: whitesmoke;
}

.idcard{
	float: left;
}

.color_pop{
	position:relative; top:0px; 
	width:154px; 
	height:154px; 
	background:#2ecc71;
	margin-right: 10px;
	margin-left: 0px; 
	opacity:0;
	margin-top: 144px;
	display: block;
	-webkit-transition: opacity .5s linear;
	-webkit-transition: margin-top .4s;
}

.idcard:hover .color_pop{
	opacity:0.8;
	margin-top: 0px;
}

.color_pop:hover p{
	opacity:1;
}

.color_pop p{
	color: white;
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 35%;
	overflow: hidden;
}

.idcard:hover{
	border: none;
}



 .j{
	background-image: url('../images/justin.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}



.s{
	background-image: url('../images/smile.png');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 10px;
	overflow: hidden;
}

.t{
	background-image: url('../images/tyler.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 10px;
	overflow: hidden;
}

.sm{
	background-image: url('../images/smile.png');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 10px;
	overflow: hidden;
}

.n{
	background-image: url('../images/nick.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}

.c{
	background-image: url('../images/casey.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	overflow: hidden;
}

.k{
	background-image: url('../images/kunal2.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}

.a{
	background-image: url('../images/adi.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}

.je{
	background-image: url('../images/jorge.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}

.au{
	background-image: url('../images/austin.jpg');
	background-size:100%;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #34495e; 
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
}



footer{
	margin-top: 900px;          /* ======================     Footer    */
	bottom: 0;
	width: 100%;
	height: 150px;
	background-color: #DADADA;
	padding-top: 40px;
	text-align: center;
	color: #ecf0f1
}

footer a{
	margin-left: 10px; 
	margin-right: 10px;
	color: whitesmoke;
}

footer a:hover{
	color: #1abc9c;
}
footer img{
	width: 150px;
}


.text-muted{
	display: block;
	margin: 20px 0;
	width: 650;
	height: 20px;
}



/* ==================================================== Responsive Styling */

@media (max-width:350px){
	.navbar-brand {
		font-size: 30px;
	}
}